.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

#appBar {
  background-color: black;
  color: black!important;
}

#appBar button {
  color: white;
  font-family: brandon-grotesque, "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size:16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 1px;
}

.MuiTypography-h2 {
  color: #5D504B;
  padding: 20px;
}

.MuiPagination-root {
  margin:0 0 0 33%!important;
  }

#searchBtn {
  background-color: #C3C3C3;
}

#recipeImage {
  max-width: 100%;
}

.ingredientModalImage {
height: 300px;
}

body {
  background-color: #F6F8FA;
}